[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/srikanthrsr
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/srikanthrsr
	label-Verified = -1..+1 group user/srikanthrsr
	push = group user/srikanthrsr
	read = group user/srikanthrsr
	rebase = group user/srikanthrsr
	removeReviewer = group user/srikanthrsr
	submit = group user/srikanthrsr
[access "refs/heads/*"]
	create = group user/srikanthrsr
	push = +force group user/srikanthrsr
	pushMerge = group user/srikanthrsr
	read = group user/srikanthrsr
[access "refs/tags/*"]
	push = group user/srikanthrsr
	push = +force group user/srikanthrsr
